.nav__bar{
    display: flex;
    align-items: center;
    gap: 4%;
    padding: 1rem 2rem 1rem;
    background: slategrey;
    text-align: center;
    margin: 0;
}

.nav__bar__item:hover {
    transform: scale(1.1);
}

.nav__bar__title{
    text-transform: uppercase;
    font-size: 2.2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    width: 100%;
    align-self: center;
}

.nav__bar__menu{
    text-align: center;
    width: 100%;
    display: flex;
    gap: 4%;
    margin: 0;
    justify-content: center;
}

.menu {
    background-color: #cfd5db;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__link{
    color: aliceblue;
    margin-right: 1.5rem;
    font-style: italic;
}

.menu__link:hover{
    text-decoration: underline;
}

@media screen and (min-width:375px) {
    .nav__bar__menu{
        margin-right: 8px;
        align-items: center;
    }
}